extends ../components/base/layout

block variables
  - const title = "Погнали - каталог попутчиков"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "catalog.html"

block main
  main
    +filters()
    +catalog()

block modals
