mixin logo(path, image, format, classModDesktop, widthMobile, heightMobile, widthDesktop, heightDesktop, altText)
  picture(class!=attributes.class)
    source(type="image/svg+xml", media="(min-width: 768px)", srcset="img/" + path + "/" + image + classModDesktop + format, width= widthDesktop, height= heightDesktop)
    source(type="image/svg+xml", srcset="img/" + path + "/" + image + "-mobile." + format, width= widthMobile, height= heightMobile)
    img(src="img/" + path + "/" + image + "-mobile" + "." + format, width= widthMobile, height= heightMobile, alt= altText)&attributes(attributes)
