mixin registration()
  -
    const optionsList = [
      {
        text: "Базовое размещение",
        price: "Бесплатно",
      },
      {
        text: "Вывод на первых позициях",
        price: "99 руб./мес",
      },
      {
        text: "Кастомный цвет карточки",
        price: "59 руб./мес",
      },
    ]

  -
    const contactsList = [
      {
        icon: "icon-contacts-phone",
        text: "8 800 555-86-28",
        href: "tel:+78005558628",
        width: 36,
        height: 34,
        mods: "--phone",
      },
      {
        icon: "icon-contacts-mail",
        text: "mail@htmlacademy.ru",
        href: "mailto:mail@htmlacademy.ru",
        width: 37,
        height: 25,
        mods: "--mail",
      },
    ]

  section.registration
    h2.visually-hidden Регистрация на сайте.
    .container
      .registration__wrapper
        .registration__text
          p Заинтересовались?
          p Зарегистрируйтесь, это быстро и бесплатно!
          p Уже&nbsp;зарегистрированы? Тогда скорее
            a(href="#", class="registration__login-link")!= "авторизуйтесь"
            | .
        .registration__form-wrapper
          form
            +custom-input({inputType: "email", inputPlaceholder: "E-mail", inputName: "user-mail", inputId: "user-mail"})
            +btn({type: "submit", text: "Регистрация"})(class="registration__button")
              span.registration__button-icon
               +icon("arrow-filled", 14, 16)
        .registration__contacts-wrapper
          .registration__contacts-heading
            p Остались вопросы? Мы с радостью на них ответим!
          ul.registration__contacts-list
            each item in contactsList
              li.registration__contacts-item
                a.registration__contacts-link(href=item.href)
                  span.registration__contacts-icon(class=`registration__contacts-icon${item.mods}`)
                    +icon(item.icon, item.width, item.height)
                  span!= item.text
