mixin transportation-icon(className, name, width, height, text)
  div(class=`${className}__item-icon`)
    svg(width=width, height=height, aria-hidden="true")
      use(xlink:href="img/sprite.svg#" + name)
  +tooltip("transportation-list", text)

mixin transportation-list()
  -
    const transportationList = [
      {
        text: "Авиаперелет",
        icon: "icon-plane",
        width: 23,
        height: 22,
      },
      {
        text: "Автотранспорт",
        icon: "icon-bus",
        width: 19,
        height: 22,
      },
      {
        text: "Велосипед",
        icon: "icon-bicycle",
        width: 25,
        height: 25,
      },
      {
        text: "Пешком",
        icon: "icon-run",
        width: 22,
        height: 24,
      },
    ]

  if(currentUrl === "index.html")
    ul.companions__transportation-list
      each option in transportationList
        li.companions__transportation-item
          +transportation-icon(option.icon, option.width, option.height, option.text)
  else
    ul.catalog__transportation-list
      each option in transportationList
        li.catalog__transportation-item
          +transportation-icon(option.icon, option.width, option.height, option.text)
