mixin transportation-icon(name, width, height, text)
  .transportation-list__item-icon
    svg(width=width, height=height, aria-hidden="true")
      use(xlink:href="img/sprite.svg#" + name)
  .transportation-list__item-tooltip-wrapper
    .transportation-list__item-tooltip
      span!= text

mixin transportation-list()
  -
    const transportationList = [
      {
        text: "Авиаперелет",
        icon: "icon-plane",
        width: 23,
        height: 22,
      },
      {
        text: "Автотранспорт",
        icon: "icon-bus",
        width: 18,
        height: 20,
      },
      {
        text: "Велосипед",
        icon: "icon-bicycle",
        width: 25,
        height: 25,
      },
      {
        text: "Пешком",
        icon: "icon-run",
        width: 22,
        height: 24,
      },
    ]

  if(currentUrl === "index.html")
    ul.companions__transportation-list
      each option in transportationList
        li.companions__transportation-item
          +transportation-icon(option.icon, option.width, option.height, option.text)
  else
    ul.catalog__transportation-list
      each option in transportationList
        li.catalog__transportation-item
          +transportation-icon(option.icon, option.width, option.height, option.text)
