mixin companions()
  section.companions
    .container
      .companions__wrapper
        .companions__text-wrapper
          .companions__text
            h2 Попутчики
            p
              | Все мы индивидуальны и у каждого свой взгляд на идеальный отдых.&nbsp;
              span Одному нужен пляж и коктейль, а другому маршрут для хайкинга.
            span
              | Теперь можно легко найти единомышленников!
          +btn({href: "catalog.html", text: "Показать всех"})(class="btn--primary companions__button")
            span.companions__button-icon
              +icon("arrow-filled", 14, 14)
        .companions__cards-wrapper
          +companions-list()
