.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 29px 76px 27px 33px;
  min-width: 284.5px;
  font-size: 24px;
  font-weight: 700;
  color: #1d2e5b;
  background-color: $color-pale-cornflowep-blue;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  & span {
    position: absolute;
    top: 27px;
    right: 35px;
    width: 14px;
    height: 14px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
