.filters {
  background-color: $color-accent-main;

  @include vp-1023 {
    background-color: #e2e5f2;
    border-radius: 0 0 58px 58px;
  }

  @include vp-767 {
    border-radius: 0 0 21px 21px;
  }

  &__wrapper {
    padding: 62px 0 98px;

    @include vp-1023 {
      position: relative;
      // padding: 63px 0 17px;//original
      // padding: 63px 0 80px;// -- too much space when list is hidden
      padding: 63px 0 3px;
    }

    @include vp-767 {
      position: relative;
      padding: 21px 0 34px;
    }
  }

  &__options-wrapper {
    position: relative;//newly added
    // padding: 0 20px 74px;//original
    padding: 0 20px 110px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;

    & > p {
      position: relative;
      margin: 0;
      padding: 0 0 0 45px;
      display: inline-block;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-midnight-express-lighter;
    }

    & .btn.filters__options-button {
      visibility: hidden;
    }

    & .btn.filters__options-button > .filters__options-button-icon {
      display: none;
    }

    &--list-is-hidden {
      padding: 0 20px;

      & > .filters__countries-wrapper,
      & > .filters__button-wrapper {
        display: none;
      }

      & .btn.filters__options-button {
        visibility: visible;
      }
    }

    @include vp-1279 {
      padding: 0 0 110px;

      // & .btn.filters__options-button > .filters__options-button-icon {
      //   display: none;
      // }
    }

    @include vp-1023 {
      // padding: 0 12px 40px 32px;
      // padding: 0 12px 161px 32px;
      padding: 0 12px 54px 32px;

      & > p {
        display: none;
      }

      & .btn.filters__options-button {
        visibility: visible;
      }

      & .btn.filters__options-button > .filters__options-button-icon--is-shown {
        display: block;
      }

      & .btn.filters__options-button > .filters__options-button-icon--is-hidden {
        display: none;
      }

      &--list-is-hidden {
        padding: 0 12px 54px 32px;

        & .btn.filters__options-button > .filters__options-button-icon--is-shown {
          display: none;
        }

        & .btn.filters__options-button > .filters__options-button-icon--is-hidden {
          display: block;
        }
      }
    }

    @include vp-767 {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      padding: 21px 24px 15px;
      width: 100%;
      gap: 16px 5px;
      background-color: #e2e5f2;
      border-radius: 0 0 22px 22px;
      z-index: 15;

      & > p {
        padding: 0 64px 0 28px;
        display: block;
        font-size: 16px;
        line-height: 18px;
      }

      & .filters__list-wrapper {
        display: block;
      }

      & .btn.filters__options-button > .filters__options-button-icon--is-hidden {
        display: none;
      }

      & .btn.filters__options-button > .filters__options-button-icon--is-shown {
        display: block;
      }

      &--list-is-hidden {
        // padding: 0 12px 54px 32px;

        & > p {
          padding: 0 24px 0 28px;
        }

        & .btn.filters__options-button > .filters__options-button-icon--is-shown {
          display: none;
        }

        & .btn.filters__options-button > .filters__options-button-icon--is-hidden {
          display: block;
        }

        & .filters__list-wrapper {
          display: none;
        }
      }

      // &--list-is-open { ////////////!!!!!!!!!!!!!!!!!
      //   & > p {
      //     padding: 0 40px 0 28px;
      //   }

      //   & > .filters__list {
      //     display: flex;
      //   }

      //   & .filters__options-button {
      //     & > .filters__options-button-icon--is-hidden {
      //       display: none;
      //     }

      //     & > .filters__options-button-icon--is-shown {
      //       display: inline-flex;
      //     }
      //   }

      //   & + .filters__countries-wrapper {
      //     display: block;
      //   }
      // }
    }
  }

  &__icon {
    position: absolute;
    top: -2px;
    left: 0;
    width: 23px;
    height: 15px;

    @include vp-767 {
      top: -1px;
      left: 1px;
      width: 15px;
      height: 10px;

      & > svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__list-wrapper {
    @include vp-767 {
      width: 100%;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    list-style: none;

    @include vp-1023 {
      gap: 20px 17px;
    }

    @include vp-767 {
      // padding: 0 25px 0 26px;//was
      // display: none;//originally
      padding: 0 25px 5px 26px;
      flex-direction: column;
      gap: 9px;
    }
  }

  &__item {
    display: inline-flex;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
    }

    & label {
      color: rgba(25, 33, 68, 0.3);
      cursor: pointer;
      transition: color $trans-default;
    }

    & input[checked="true"] + label {
      color: $color-midnight-express-lighter;
    }

    &--asia {
      padding-left: 2px;

      @include vp-767 {
        padding-left: 0;
      }
    }

    &--america {
      padding-left: 8px;

      @include vp-767 {
        padding-left: 0;
      }
    }

    &:hover,
    & input:focus {
      & label {
        color: rgba(25, 33, 68, 0.6);
      }
    }

    & input:active {
      & + label {
        color: $color-midnight-express-lighter;
      }
    }
  }

  &__options-button-wrapper {
    margin-left: auto;
    display: flex;

    @include vp-1023 {
      display: block;
    }

    @include vp-767 {
      position: absolute;
      top: 20px;
      right: 30px;
      margin: 0;
      width: 17px;
      height: 17px;
      z-index: -1;

      & svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  & .btn.filters__options-button {
    padding: 0;
    display: inline-flex;
    min-width: auto;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-midnight-express-lighter;
    // visibility: hidden;
    // visibility: visible;
    transition: color $trans-default;

    // &--list-is-hidden {
    //   visibility: visible;
    // }

    // & .filters__options-button-icon {
    //   display: none;
    // }

    @include vp-1023 {
      padding: 0 60px 0 0;
      background-color: #e2e5f2;

      // & > .filters__options-button-icon--is-hidden {
      //   display: inline-flex;
      // }

      // & > .filters__options-button-icon--is-shown {
      //   display: none;
      // }
    }

    @include vp-767 {
      padding: 0;
      width: 18px;
      height: 16px;
    }

    @include vp-1023 {
      display: block;
    }

    & > span.filters__options-button-text {
      position: relative;
      top: auto;
      right: auto;
      width: auto;
      height: auto;

      @include vp-767 {
        display: none;
      }
    }

    & > .filters__options-button-icon {
      position: absolute;
      top: -5px;
      right: 12px;
      width: 22px;
      height: 24px;
      justify-content: center;
      align-items: center;

      @include vp-1023 {
        right: -1px;
        width: 36px;
        height: 27px;
      }

      @include vp-767 {
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &:hover,
    &:focus {
      color: rgba(25, 33, 68, 0.6);
    }

    &:active {
      color: rgba(25, 33, 68, 0.3);
    }
  }

  &__countries-wrapper {
    // &--is-hidden {
    //   display: none;//original
    // }

    @include vp-1023 {
      position: absolute;
      // left: 0;//original
      left: -40px;
      right: -40px;
      top: calc(100% - 56px);
      // padding: 63px 60px 61px 74px;//original
      margin: 0 auto;
      padding: 65px 78px 241px 72px;
      width: calc(100% + 80px);
      background-color: #e2e5f2;
      border-radius: 0 0 58px 58px;
      z-index: 15;
    }

    @include vp-767 {
      // top: calc(100% + 114px);//was
      // padding: 25px 25px 349px;//was
      // border-radius: 0 0 22px 22px;//was
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      padding: 0;
      width: calc(100% - 2px);
    }
  }

  &__countries-list {
    margin: 0;
    // padding: 0 35px; ORIGINAL
    padding: 64px 0 49px;//newly added
    display: grid;
    grid-template-columns: 210px 206px 209px 216px 180px;
    gap: 20px 38px;
    list-style: none;

    @include vp-1279 {
      grid-template-columns: 164px 176px 194px 245px 159px;
      grid-template-columns: minmax(164px, max-content) minmax(176px, max-content) minmax(194px, max-content) minmax(245px, max-content) minmax(159px, max-content);
      gap: 20px 10px;
    }

    @include vp-1023 {
      position: relative;
      // padding: 0 276px 0 0;//original
      padding: 0 248px 0 0;
      grid-template-columns: repeat(5, 65px);
      // gap: 20px 8px;//original
      gap: 21px 12px;
    }

    @include vp-767 {
      margin: 0 25px;
      padding: 0;
      grid-template-columns: repeat(5, 1fr);
      gap: 0;
    }
  }

  &__countries-item {
    padding: 0 0 0 15px;// newly added

    &:nth-of-type(2),
    &:nth-of-type(7),
    &:nth-of-type(12) {
      padding: 0 0 0 19px;
    }

    &:nth-of-type(15),
    &:nth-of-type(20) {
      padding: 0 0 0 20px;
    }

    &:nth-of-type(3),
    &:nth-of-type(5),
    &:nth-of-type(8),
    &:nth-of-type(10),
    &:nth-of-type(13),
    &:nth-of-type(18),
    &:nth-of-type(25) {
      padding: 0 0 0 23px;
    }

    &:nth-of-type(4),
    &:nth-of-type(9),
    &:nth-of-type(14),
    &:nth-of-type(19) {
      padding: 0 0 0 27px;
    }

    & > p {
      margin: 0 0 31px 2px;
      font-size: 60px;
      line-height: 60px;
      font-weight: 700;
      color: $color-midnight-express-lighter;

      @include vp-1023 {
        margin: 0;
        color: #a6aabe;
      }

      @include vp-767 {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        color: $color-catalina-blue;
      }
    }

    @include vp-1279 {
      padding: 0;

      &:nth-of-type(2),
      &:nth-of-type(7),
      &:nth-of-type(12) {
        padding: 0;
      }

      &:nth-of-type(15),
      &:nth-of-type(20) {
        padding: 0;
      }

      &:nth-of-type(3),
      &:nth-of-type(5),
      &:nth-of-type(8),
      &:nth-of-type(10),
      &:nth-of-type(13),
      &:nth-of-type(18),
      &:nth-of-type(25) {
        padding: 0;
      }

      &:nth-of-type(4),
      &:nth-of-type(9),
      &:nth-of-type(14),
      &:nth-of-type(19) {
        padding: 0;
      }
    }

    @include vp-1023 {
      & > .filters__countries-group {
        display: none;
      }

      &--is-active {
        & > p {
          color: $color-midnight-express-lighter;
        }

        & > .filters__countries-group {
          // width: 190px;//original
          width: 172px;
          display: block;
        }
      }
    }

    @include vp-767 {
      // padding: 10px;
      padding: 13px 4px 8px 3px;
      min-height: 41px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-default-white;
      border: 0.8px solid #cbced9;

      &:nth-of-type(2),
      &:nth-of-type(7),
      &:nth-of-type(12),
      &:nth-of-type(15),
      &:nth-of-type(20),
      &:nth-of-type(3),
      &:nth-of-type(5),
      &:nth-of-type(8),
      &:nth-of-type(10),
      &:nth-of-type(13),
      &:nth-of-type(18),
      &:nth-of-type(25),
      &:nth-of-type(4),
      &:nth-of-type(9),
      &:nth-of-type(14),
      &:nth-of-type(19) {
        padding: 13px 4px 8px 3px;
      }

      & > .filters__countries-group {
        left: -50px;
        right: -50px;
        top: -2px;
        // width: 100%;//was
        margin: 0 auto;
        padding: 220px 50px 74px;
        width: calc(100% + 100px);
        height: max-content;
        // padding: 0 100px 0 0;//was
        background-color: #e2e5f2;
        border-radius: 0 0 20px 20px;
        z-index: -2;
      }

      & > p {
        text-align: center;
      }

      &--is-active {
        background-color: $color-catalina-blue;
        border-color: $color-catalina-blue;

        & > p {
          color: $color-default-white;
        }
      }
    }

    // @mixin vp-374

    &--a {
      @include vp-1023 {
        & > p {
          padding: 0 0 0 2px;
        }
      }

      @include vp-767 {
        & .filters__countries-link:nth-of-type(8) {
          padding: 0 84px 0 0;
        }

        & > p {
          padding: 3px 0 0 3px;
        }
      }
    }

    &--b {
      // margin-left: 4px;
      padding: 0 0 0 19px;

      & > p {
        margin-left: 0;
      }

      & > .filters__countries-group {
        padding-left: 1px;
      }

      @include vp-1023 {
        // margin: 0;

        & > p {
          // padding: 0;//original
          padding: 0 0 0 3px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 2px 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--v {
      // margin-left: 8px;

      & > .filters__countries-group {
        padding: 0 35px 0 7px;
      }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          // padding: 0;
          padding: 0 0 0 1px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 2px 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--g {
      // margin-left: 12px;

      & > .filters__countries-group {
        padding-left: 8px;
      }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          // padding: 0;
          padding: 0 0 0 7px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 2px 0 0 0;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--d {
      // margin-left: 8px;

      @include vp-1023 {
        // margin: 0;

        & > p {
          padding: 0;
        }
      }

      @include vp-767 {
        & > p {
          padding: 1px 0 0 0;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--ye {
      & > .filters__countries-group {
        padding-left: 1px;
      }

      & > p {
        margin-left: 0;
      }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          // padding: 0;
          padding: 4px 0 0 4px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 2px 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--z {
      // margin-left: 4px;

      & > .filters__countries-group {
        padding-left: 3px;
      }

      & > p {
        margin-left: 0;
        margin-bottom: 28px;
      }

      // @include vp-1023 {
      //   // margin-left: 0;

      //   & > p {
      //     margin-bottom: 0;
      //     padding: 0 0 0 15px;
      //   }
      // }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          // padding: 0;
          margin: 0;
          padding: 4px 0 0 6px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 2px 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--i {
      // margin-left: 8px;

      & > .filters__countries-group {
        padding-left: 6px;
      }

      & > p {
        margin-left: 3px;
        margin-bottom: 30px;
      }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 4px 0 0 1px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 2px 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--k {
      // margin-left: 12px;
      margin-bottom: 26px;

      & > .filters__countries-group {
        padding-left: 6px;
      }

      & > p {
        margin-left: 3px;
      }

      @include vp-1023 {
        margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 4px 0 0 7px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 2px 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--l {
      // margin-left: 8px;

      & > .filters__countries-group {
        padding-left: 5px;
      }

      & > p {
        margin-left: 0;
        margin-bottom: 33px;
      }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 4px 0 0 1px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 2px 0 0 0;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--m {
      & > p {
        margin-left: 1px;
        margin-bottom: 35px;
      }

      @include vp-1023 {
        & > p {
          margin: 0;
          padding: 0;
        }
      }

      @include vp-767 {
        & > p {
          padding: 1px 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--n {
      // margin-left: 4px;
      margin-bottom: 37px;

      & > p {
        margin-left: 1px;
        margin-bottom: 33px;
      }

      & > .filters__countries-group {
        padding: 0 54px 0 2px;
      }

      @include vp-1023 {
        margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 0 0 0 4px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 0 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--o {
      // margin-left: 8px;

      & > .filters__countries-group {
        padding-left: 7px;
      }

      & > p {
        margin-left: 4px;
        margin-bottom: 34px;
      }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 0 0 0 2px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 0 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--p {
      // margin-left: 12px;

      & > .filters__countries-group {
        padding-left: 7px;
      }

      & > p {
        margin-left: 4px;
        margin-bottom: 32px;
      }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 0 0 0 4px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 0 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--r {
      // margin-left: 5px;
      // padding: 0 0 0 20px;//newly added

      & > .filters__countries-group {
        padding-left: 8px;
      }

      & > p {
        margin-left: 4px;
        margin-bottom: 32px;
      }

      @include vp-1023 {
        // margin: 0;
        // padding: 0;//newly added

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          padding: 0;
        }
      }

      @include vp-767 {
        & > p {
          padding: 0 1px 0 0;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--s {
      margin-bottom: 25px;

      & > .filters__countries-group {
        padding-left: 3px;
      }

      & > p {
        margin-left: 1px;
      }

      @include vp-1023 {
        margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 0 0 0 6px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 0 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--t {
      padding: 0 0 0 15px;//newly added

      & > .filters__countries-group {
        padding-left: 6px;
      }

      & > p {
        margin-left: 5px;
      }

      @include vp-1023 {
        // margin: 0;
        padding: 0;//newly added

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 0 0 0 6px;
        }
      }

      @include vp-767 {
        padding: 13px 4px 8px;
        // & > p {
        //   padding: 13px 4px 8px;
        // }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }

      @include vp-374 {
        // padding: 10px;

        & > p {
          padding: 0 0 0 1px;
        }
      }
    }

    &--u {
      // margin-left: 8px;

      & > .filters__countries-group {
        padding-left: 6px;
      }

      & > p {
        margin-left: 4px;
      }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 0 0 0 6px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 0 0 0 1px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--f {
      // margin-left: 12px;

      & > .filters__countries-group {
        padding-left: 6px;
      }

      & > p {
        margin-left: 4px;
      }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          padding: 0;
        }
      }

      @include vp-767 {
        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--kh {
      // margin-left: 5px;

      & > .filters__countries-group {
        padding-left: 11px;
      }

      & > p {
        margin-left: 4px;
        margin-bottom: 33px;
      }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 0 0 0 1px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 0;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--ch {
      & > .filters__countries-group {
        padding-left: 1px;
      }

      & > p {
        margin-left: 0;
        margin-bottom: 37px;
      }

      @include vp-1023 {
        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 6px 0 0 4px;
        }
      }

      @include vp-767 {
        & > p {
          padding: 0 0 0 2px;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--sh {
      & > .filters__countries-group {
        padding-left: 6px;
      }

      & > p {
        margin-left: 4px;
        margin-bottom: 38px;
      }

      @include vp-1023 {
        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 6px 0 0 0;
        }
      }

      @include vp-767 {
        & > p {
          padding: 0;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }

    &--e {
      // margin-left: 11px;
      padding: 0 0 0 26px;// newly added

      & > .filters__countries-group {
        padding-left: 4px;
      }

      & > p {
        margin-left: 0;
        margin-bottom: 40px;
      }

      @include vp-1023 {
        // margin: 0;
        padding: 0;// newly added

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 4px 0 0 3px;
        }
      }

      @include vp-767 {
        padding: 13px 4px 8px;

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }

      @include vp-374 {
        & > p {
          padding: 0 0 0 1px;
        }
      }
    }

    &--yu {
      // margin-left: 15px;
      padding: 0 0 0 30px;// newly added

      & > .filters__countries-group {
        padding: 0 64px 0 6px;
      }

      & > p {
        margin-left: 0;
        margin-bottom: 38px;
      }

      @include vp-1023 {
        // margin: 0;
        padding: 0;// newly added

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 4px 0 0 0;
        }
      }

      @include vp-767 {
        padding: 13px 4px 8px;

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }

      @include vp-374 {
        & > p {
          padding: 0;
        }
      }
    }

    &--ya {
      // margin-left: 8px;

      & > .filters__countries-group {
        padding-left: 7px;
      }

      & > p {
        margin-left: 0;
        margin-bottom: 38px;
      }

      @include vp-1023 {
        // margin: 0;

        & > .filters__countries-group {
          padding: 0;
        }

        & > p {
          margin: 0;
          // padding: 0;
          padding: 2px 0 0 0;
        }
      }

      @include vp-767 {
        & > p {
          padding: 0;
        }

        & > .filters__countries-group {
          padding: 220px 50px 74px;
        }
      }
    }
  }

  &__countries-group {
    display: flex;
    flex-direction: column;

    @include vp-1023 {
      position: absolute;
      top: -4px;
      right: 0;
      bottom: 0;
      padding-right: 22px;
    }

    @include vp-767 {
      top: calc(100% + 12px);
      padding: 0;
      display: none;
    }
  }

  &__countries-link {
    display: block;
    line-height: 30px;
    color: $color-charcoal;

    &--is-hidden {
      display: none;
    }

    &:hover,
    &:focus {
      color: $color-catalina-blue;
    }

    &:active {
      color: rgba(29, 46, 91, 0.3);
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__button-wrapper {
    // margin: 59px auto 0;//original
    position: absolute;//newly added
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;

    @include vp-1023 {
      // margin: 61px 0 0;
      // width: calc(100% - 16px);//original
      bottom: 79px;
      margin: 0 auto;
      width: calc(100% - 153px);
    }

    @include vp-767 {
      position: absolute;
      // bottom: 27px;//was
      left: 0;
      right: 0;
      bottom: calc(-100% - 119px);
      margin: 0 auto;
      width: 100%;
    }
  }

  &__button.btn {
    position: relative;
    padding: 37px 210px 37px 200px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-midnight-express-lighter;
    background-color: #d6daed;
    transition: background-color $trans-default, opacity $trans-default;

    & > span {
      position: relative;
      top: auto;
      right: auto;
    }

    & > .filters__button-text {
      padding-top: 5px;
      width: fit-content;
      height: auto;
      order: 1;
    }

    & > .filters__button-icon {
      width: 24px;
      height: 26px;
      color: $color-midnight-express-lighter;
      order: 0;

      & > svg {
        width: 100%;
        height: 100%;
      }
    }

    // &.filter__button--is-hidden {//original
    //   visibility: hidden;
    // }

    &:hover,
    &:focus {
      background-color: #c8cee8;
      opacity: 1;
    }

    &:active {
      color: rgba(25, 33, 68, 0.3);
      background-color: #c8cee8;
      opacity: 1;

      & > .filters__button-icon {
        color: rgba(25, 33, 68, 0.3);
      }
    }

    @include vp-1023 {
      padding: 37px 200px 37px 198px;
      gap: 18px;
    }

    @include vp-767 {
      padding: 6px 49px 9px 61px;
      font-size: 16px;
      letter-spacing: 1px;
      gap: 10px;

      & > .filters__button-icon {
        width: 14px;
        height: 14px;
      }
    }
  }
}
