@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.intro {
  position: relative;
  background-color: #516172;
  border-radius: 0 0 58px 58px;

  @include vp-1023 {
    &::before {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2px;
      width: 100%;
      height: 203px;
      background-color: #272b3b;
      z-index: 3;
      content: "";
    }
  }

  @include vp-767 {
    & .container {
      padding: 0 25px 0 26px;
    }

    &::before {
      height: 218px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;

    @include vp-767 {
      overflow: hidden;

      & img {
        margin: 0 auto;
      }
    }
  }

  &__background {
    position: absolute;
    top: -153px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #516172;
    border-radius: 0 0 58px 58px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
      border-radius: 0 0 65px 62px;
    }

    @include vp-1023 {
      top: -151px;
      border-radius: 0;

      & img {
        width: 1440px;
        height: 902px;
        object-position: 33.4% 50%;
        border-radius: 0;
      }
    }

    @include vp-767 {
      top: -146px;

      & img {
        width: 100%;
        height: 100%;
        object-position: 50% 66px;
      }
    }
  }

  &__picture {
    position: absolute;
    bottom: 0;
    right: 274px;
    width: 432px;
    height: 640px;
    z-index: 10;

    @include vp-1279 {
      right: 50px;
    }

    @include vp-1023 {
      right: 52px;
      bottom: 170px;

      & img {
        max-width: 439px;
      }
    }

    @include vp-767 {
      top: 0;
      right: 43px;
      padding-top: 186px;
      width: 69%;
      height: auto;

      & img {
        max-width: 100%;
      }
    }

    @include vp-374 {
      right: 29px;
    }
  }

  &__wrapper {
    position: relative;
    padding: 0 0 115px;
    z-index: 10;

    @include vp-1023 {
      padding: 0;
    }

    @include vp-767 {
      padding: 28px 0 0;
    }
  }

  &__text {
    padding: 44px 789px 121px 12px;

    @include vp-1439 {
      padding-right: 640px;
    }

    @include vp-1279 {
      padding-right: 400px;
    }

    @include vp-1023 {
      padding: 3px 234px 459px 14px;
    }

    @include vp-767 {
      padding: 0;
      max-width: 500px;
    }

    @include vp-374 {
      max-width: 100%;
    }

    & p {
      margin: 0;
      font-size: 70px;
      line-height: 70px;
      font-weight: 700;
      font-variant-caps: all-small-caps;
      color: $color-default-white;

      @include vp-1023 {
        font-size: 60px;
      }

      @include vp-767 {
        font-size: 36px;
        line-height: 40px;
      }
    }
  }

  &__process-wrapper {
    position: relative;
    z-index: 5;

    @include vp-767 {
      margin-top: 290px;
    }
  }

  &__process-list {
    position: relative;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(286px, 345px) minmax(312px, 330px) minmax(324px, 345px) minmax(227px, 315px);
    gap: 16px 0;
    list-style: none;

    @include vp-1439 {
      width: fit-content;
      grid-template-columns: minmax(236px, 1fr) minmax(290px, 1fr) minmax(300px, 1fr) minmax(227px, 1fr);
    }

    @include vp-1279 {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
    }

    @include vp-767 {
      display: block;
    }
  }

  &__process-item {
    position: relative;
    padding: 30px 100px 29px 0;
    flex-shrink: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: $color-midnight-express-darker;
    background-color: $color-transparent;
    opacity: 0;
    animation: fade-in 1s linear forwards;
    z-index: 5;

    @include vp-1439 {
      padding: 30px 80px 29px 0;
      min-width: 270px;
      max-width: 344px;
    }

    @include vp-1279 {
      padding: 31px 80px 61px 32px;
      max-width: 100%;
      min-height: 140px;
      font-size: 24px;
    }

    @include vp-767 {
      padding: 22px 50px 34px 24px;
      max-width: 100%;
      min-width: 100%;
      min-height: 100px;
      font-size: 18px;
      line-height: 18px;
      border-radius: 10px;
    }

    @include vp-374 {
      min-height: 80px;
    }

    &::before {
      position: absolute;
      top: 29px;
      right: 64px;
      width: 50px;
      font-size: 24px;
      text-align: end;
      color: $color-default-white;
      content: "";

      @include vp-1439 {
        right: 52px;
      }

      @include vp-1279 {
        top: auto;
        right: auto;
        left: 33px;
        bottom: 21px;
        font-size: 30px;
        line-height: 30px;
        text-align: start;
      }

      @include vp-767 {
        top: 21px;
        right: 20px;
        left: auto;
        padding-left: 24px;
        width: 40px;
        font-size: 18px;
        line-height: 18px;
        text-align: end;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $color-picton-blue;
      border-radius: 20px;
      z-index: -1;
      content: "";

      @include vp-767 {
        height: calc(100% + 10px);
      }
    }

    &--step-one {
      padding-left: 34px;

      @include vp-1279 {
        padding-left: 33px;
      }

      @include vp-767 {
        padding-left: 24px;
        border-radius: 10px 10px 0 0;
      }

      &::after {
        background-color: $color-picton-blue;

        @include vp-1279 {
          right: auto;
          left: 0;
          width: calc(100% + 35px);
          border-radius: 20px 20px 0 0;
        }

        @include vp-767 {
          width: 100%;
          border-radius: 10px 10px 0 0;
        }
      }
    }

    &--step-two {
      animation-delay: 1s;

      @include vp-767 {
        padding: 9px 50px 30px 24px;
      }

      &::before {
        right: 46px;

        @include vp-1439 {
          right: 42px;
        }

        @include vp-767 {
          top: 5px;
          right: 20px;
        }
      }

      &::after {
        width: calc(100% + 30px);
        background-color: $color-jordy-blue;

        @include vp-1279 {
          width: 100%;
          border-radius: 20px 20px 0 0;
        }

        @include vp-767 {
          top: -13px;
          border-radius: 10px 10px 0 0;
        }
      }
    }

    &--step-three {
      padding-left: 16px;
      animation-delay: 2s;

      @include vp-1279 {
        padding-left: 34px;
      }

      @include vp-767 {
        padding: 5px 50px 30px 24px;
      }

      &::before {
        right: 46px;

        @include vp-1439 {
          right: 42px;
        }

        @include vp-767 {
          top: 5px;
          right: 20px;
        }
      }

      &::after {
        width: calc(100% + 15px);
        background-color: $color-pale-cornflowep-blue;

        @include vp-1279 {
          width: calc(100% + 35px);
          border-radius: 0 0 20px 20px;
        }

        @include vp-767 {
          top: -17px;
          width: 100%;
          border-radius: 10px 10px 0 0;
        }
      }
    }

    &--step-four {
      border-radius: 20px;
      animation-delay: 3s;

      @include vp-1279 {
        padding: 30px 80px 62px 32px;
        border-radius: 0 0 20px 20px;
      }

      @include vp-767 {
        padding: 5px 50px 22px 24px;
      }

      &::before {
        right: 32px;

        @include vp-767 {
          right: 20px;
        }
      }

      &::after {
        width: calc(100% + 15px);
        background-color: #cce5fa;
        border-radius: 10px;

        @include vp-767 {
          top: -17px;
          width: 100%;
          height: 100%;
        }
      }
    }

    &:not(:first-of-type) {
      &::after {
        box-shadow: -4px 0 10px 0 rgba(0, 0, 0, 0.25);

        @include vp-1279 {
          box-shadow: none;
        }
      }
    }

    &:nth-of-type(1) {
      padding-left: 34px;

      &::before {
        content: "1";
      }

      &::after {
        background-color: $color-picton-blue;
      }

      @include vp-767 {
        padding-left: 24px;
      }
    }

    &:nth-of-type(2) {
      &::before {
        content: "2";
      }

      &::after {
        right: -15px;
        width: calc(100% + 45px);
        background-color: $color-jordy-blue;
      }

      @include vp-1279 {
        padding-left: 33px;

        &::before {
          right: auto;
          left: 33px;
        }

        &::after {
          right: 0;
          width: 100%;
        }
      }

      @include vp-767 {
        padding-left: 24px;

        &::before {
          top: 9px;
          right: 20px;
          left: auto;
        }

        &::after {
          width: 100%;
        }
      }
    }

    &:nth-of-type(3) {
      padding-left: 16px;

      &::before {
        content: "3";
      }

      &::after {
        right: -20px;
        width: calc(100% + 35px);
        background-color: $color-pale-cornflowep-blue;
      }

      @include vp-1279 {
        padding-left: 34px;

        &::after {
          right: auto;
          left: 0;
          width: calc(100% + 35px);
        }
      }

      @include vp-767 {
        padding-left: 24px;

        &::after {
          width: 100%;
        }
      }
    }

    &:nth-of-type(4) {
      padding-left: 15px;

      &::before {
        content: "4";
      }

      &::after {
        width: calc(100% + 15px);
        background-color: #cce5fa;
      }

      @include vp-1279 {
        padding-left: 33px;

        &::before {
          right: auto;
          left: 33px;
        }

        &::after {
          width: 100%;
        }
      }

      @include vp-767 {
        padding-left: 24px;

        &::before {
          top: 5px;
          right: 20px;
          left: auto;
        }
      }
    }

    &:nth-of-type(5) {
      padding-left: 34px;

      &::before {
        content: "5";
      }

      &::after {
        background-color: $color-picton-blue;
        box-shadow: none;

        @include vp-1279 {
          width: 100%;
        }
      }

      @include vp-767 {
        padding-left: 24px;
      }
    }

    &:nth-of-type(6) {
      &::before {
        content: "6";
      }

      &::after {
        width: calc(100% + 30px);
        background-color: $color-jordy-blue;
      }

      @include vp-767 {
        padding-left: 24px;

        &::after {
          width: 100%;
        }
      }
    }

    &:nth-of-type(7) {
      padding-left: 16px;

      &::before {
        content: "7";
      }

      &::after {
        width: calc(100% + 15px);
        background-color: $color-pale-cornflowep-blue;

        @include vp-1279 {
          width: 100%;
        }
      }

      @include vp-767 {
        padding-left: 24px;
      }
    }

    &:nth-of-type(8) {
      padding-left: 15px;

      &::before {
        content: "8";
      }

      &::after {
        width: calc(100% + 15px);
        background-color: #cce5fa;
        border-radius: 20px;
      }

      @include vp-767 {
        padding-left: 24px;

        &::after {
          width: 100%;
        }
      }
    }

    &:last-of-type {
      &::after {
        padding-left: 15px;
        border-radius: 20px;

        @include vp-1279 {
          border-radius: 0 0 20px 20px;
        }

        @include vp-767 {
          padding-left: 0;
          height: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}
