mixin picture(path, image, format, width, height, altText)
  picture(class!=attributes.class)
    source(type="image/webp", srcset="img/" + path + "/" + image + ".webp" + ", " + "img/" + path + "/" + image + "@2x.webp" + " 2x")
    img(src="img/" + path + "/" + image + "." + format, srcset= "img/" + path + "/" + image + "@2x." + format + " 2x", width= width, height= height, alt= altText)

mixin picture-adaptive(path, image, format, widthDesktop, heightDesktop, widthTablet, heightTablet, widthMobile, heightMobile, altText)
  picture(class!=attributes.class)
    source(type="image/webp", media="(min-width: 1024px)", srcset="img/" + path + "/" + image + "-desktop" + ".webp" + ", " + "img/" + path + "/" + image + "-desktop" + "@2x.webp" + " 2x", width= widthDesktop, height= heightDesktop)
    source(type="image/" + format, media="(min-width: 1024px)", srcset="img/" + path + "/" + image + "-desktop" + "." + format + ", " + "img/" + path + "/" + image + "-desktop" + "@2x." + format + " 2x", width= widthDesktop, height= heightDesktop)
    source(type="image/webp", media="(min-width: 768px)", srcset="img/" + path + "/" + image + "-tablet" + ".webp" + ", " + "img/" + path + "/" + image + "-tablet" + "@2x.webp" + " 2x", width= widthTablet, height= heightTablet)
    source(type="image/" + format, media="(min-width: 768px)", srcset="img/" + path + "/" + image + "-tablet" + "." + format + ", " + "img/" + path + "/" + image + "-tablet" + "@2x." + format + " 2x", width= widthTablet, height= heightTablet)
    //- source(type="image/webp", media="(min-width: 320px)", srcset="img/" + path + "/" + image + "-mobile" + ".webp" + ", " + "img/" + path + "/" + image + "-mobile" + "@2x.webp" + " 2x", width= widthMobile, height= widthMobile)
    //- source(type="image/" + format, media="(min-width: 320px)", srcset="img/" + path + "/" + image + "-mobile" + "." + format + ", " + "img/" + path + "/" + image + "-mobile" + "@2x." + format + " 2x", width= widthMobile, height= widthMobile)
    source(type="image/webp", srcset="img/" + path + "/" + image + "-mobile" + ".webp" + ", " + "img/" + path + "/" + image + "-mobile" + "@2x.webp" + " 2x", width= widthMobile, height= heightMobile)
    img(src="img/" + path + "/" + image + "-mobile" + "." + format, srcset= "img/" + path + "/" + image + "-mobile" + "@2x." + format + " 2x", width= widthMobile, height= heightMobile, alt= altText)&attributes(attributes)

mixin picture-semi-adaptive(path, image, format, widthDesktop, heightDesktop, widthMobile, heightMobile, altText)
  picture(class!=attributes.class)
    source(type="image/webp", media="(min-width: 1024px)", srcset="img/" + path + "/" + image + "-desktop" + ".webp" + ", " + "img/" + path + "/" + image + "-desktop" + "@2x.webp" + " 2x", width= widthDesktop, height= heightDesktop)
    source(type="image/" + format, media="(min-width: 1024px)", srcset="img/" + path + "/" + image + "-desktop" + "." + format + ", " + "img/" + path + "/" + image + "-desktop" + "@2x." + format + " 2x", width= widthDesktop, height= heightDesktop)
    source(type="image/webp", media="(min-width: 768px)", srcset="img/" + path + "/" + image + "-desktop" + ".webp" + ", " + "img/" + path + "/" + image + "-desktop" + "@2x.webp" + " 2x", width= widthDesktop, height= heightDesktop)
    source(type="image/" + format, media="(min-width: 768px)", srcset="img/" + path + "/" + image + "-desktop" + "." + format + ", " + "img/" + path + "/" + image + "-desktop" + "@2x." + format + " 2x", width= widthDesktop, height= heightDesktop)
    //- source(type="image/webp", media="(min-width: 320px)", srcset="img/" + path + "/" + image + "-mobile" + ".webp" + ", " + "img/" + path + "/" + image + "-mobile" + "@2x.webp" + " 2x", width= widthMobile, height= widthMobile)
    //- source(type="image/" + format, media="(min-width: 320px)", srcset="img/" + path + "/" + image + "-mobile" + "." + format + ", " + "img/" + path + "/" + image + "-mobile" + "@2x." + format + " 2x", width= widthMobile, height= widthMobile)
    source(type="image/webp", srcset="img/" + path + "/" + image + "-mobile" + ".webp" + ", " + "img/" + path + "/" + image + "-mobile" + "@2x.webp" + " 2x", width= widthMobile, height= heightMobile)
    img(src="img/" + path + "/" + image + "-mobile" + "." + format, srcset= "img/" + path + "/" + image + "-mobile" + "@2x." + format + " 2x", width= widthMobile, height= heightMobile, alt= altText)&attributes(attributes)
