//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/logo
include ./blocks/intro
include ./blocks/about-us
include ./blocks/destinations
include ./blocks/companions
include ./blocks/companion-card
include ./blocks/transportation-icon
include ./blocks/companions-list
include ./blocks/add-profile
include ./blocks/registration
include ./blocks/map
include ./blocks/filters
include ./blocks/catalog
include ./blocks/search-form

//- Mixins

include ./mixins/btn
include ./mixins/filter-checkbox
include ./mixins/range-input
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
